blockquote{color;rgba(16, 70, 144, 0.51;)}
h1{color:blueviolet;}
strong{color: #f00;}
blockquote{
    color:bisque;
    background-color: azure;
}
th[colspan="4"]{
    font-size: 20px;
}
/*p{color:navy}*/